h1 {
    color: steelblue;
    text-align: center;
}

#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginField {
    justify-content: space-around;
    width:100%;
}

.sectionName {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 10px;
}

.sectionBtn {
    display: flex;
    margin-top: 10px;
}

.input {
    margin: 10px 0px;
    width: 70%;
}

.loginBtn {
    width: 30%;
    border: 1px solid black;
    margin: 8px 8px;
}

.loginBtn:hover {
    box-shadow: 1px 1px 1px black;
}

#loginDiv {
    display: flex;
    justify-content: center;
}

#footer {
    height: 50px;
    background-color: steelblue;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0;
}

#article {
    display: flex;
    border: black 1px solid;
    width: 80%;
}